@import url('./../../styles.css');

.form {
  background: rgba(33, 36, 40, 0.97);
  height: 100%;
  width: 100%;
}

main {
  background: rgba(33, 36, 40, 0.97);
  display: flex;
  align-items: center;
  padding-top: 40px;
  /* padding-bottom: 40px; */
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  border-radius: 30px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin img {
  width: 300px;
  height: 150px;
}